langgraph>=0.6.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-openai>=0.3.0
langchain-community>=0.3.0

fastapi
uvicorn
streamlit
chromadb

openai

langchain-huggingface

pydantic
pydantic-settings
python-dotenv

tiktoken

pymupdf
python-multipart

pandas
plotly
langchain-chroma
sentence-transformers